<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-J6VP3VL6LR"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-J6VP3VL6LR");
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BioVet AI - Identify Any Disease With AI</title>
    <meta
      name="description"
      content="Upload an image of any vehicle, and our Advanced AI will instantly recognize the make, model, and more."
    />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico" />
    <script
      src="https://kit.fontawesome.com/0d5ced209e.js"
      crossorigin="anonymous"
    ></script>

    <!-- Open Graph Tags -->
    <meta property="og:url" content="https://bioVet-AI.vercel.app" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="vehicle AI - Identify Any vehicle With AI"
    />
    <meta
      property="og:description"
      content="Upload an image of any vehicle, and our Advanced AI will instantly recognize the make, model, and more."
    />
    <meta
      property="og:image"
      content="https://bioVet-AI.vercel.app/img/preview.jpg"
    />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:biod" content="summary_large_image" />
    <meta property="twitter:domain" content="bioVet-AI.vercel.app" />
    <meta property="twitter:url" content="https://bioVet-AI.vercel.app" />
    <meta
      name="twitter:title"
      content="vehicle AI - Identify Any vehicle With AI"
    />
    <meta
      name="twitter:description"
      content="Upload an image of any vehicle, and our Advanced AI will instantly recognize the make, model, and more."
    />
    <meta
      name="twitter:image"
      content="https://bioVet-AI.vercel.app/img/preview.jpg"
    />
  </head>

  <body>
    <header>
      <a href="/" aria-label="Home">BioVet-AI</a>
      <a
        href="https://github.com/meayushsriv/Hack4Change-Plant-biohealth-Monitoring"
        target="_blank"
        aria-label="Github"
        ><i class="fa-brands fa-github"></i
      ></a>
    </header>
    <script src="/js/script.js"></script>
  </body>
</html>
